<div class="message<%= defined?(message) ? ' message-' + message.id.to_s : '' %>">
  <aside class="meta">
    <%= defined?(message) ? image_tag(message.user.photo(nil), class: 'user-photo') : '' %>
    <span class="user-name"><%= defined?(message) ? message.user.name : '' %></span>
    <% if !defined?(message) || message.user.id == current_user.id %>
    <button type="button" class="delete-message" title="Deletar" data-message-id="<%= defined?(message) ? message.id : '' %>" data-confirm="Deseja realmente deletar esta bela mensagem?">&times;</button>
    <% end %>
  </aside>
  <div class="content"><%= (defined?(message) ? (message.image? ? image_tag(message.image.content) : '') + simple_format(message.message).html_safe : '').html_safe %></div>
</div>