<aside role="complementary" class="collection users">
  <% ['Caio Tarifa', 'Hugo Demiglio'].each do |user| %>
  <div class="user">
    <div class="meta"><%= user %></div>
    <div class="content away">Nenhuma atividade identificada...</div>
  </div>
  <% end %>
</aside>

<div class="collection timeline">
  <div class="messages">
    <% @messages.each do |message| %>
    <div class="message" id="message_<%= message.id %>">
      <div class="meta">
      <%= image_tag message.user.photo(nil), width: '20', style: 'border-radius: 100%;' %> 
      <%= message.user.name %>
      <% if current_user.id == message.user.id %>
        <%= link_to 'apagar', '#', :'data-id' => message.id, class: 'delete-message' %>
      <% end %>
      </div>
      <div class="content">
        <% if message.image? %><%= image_tag message.image.content %><% end %>
        <%= message.message %>
      </div>
    </div>
    <% end %>
  </div>

  <%= form_tag '?', id: 'message_form', class: 'send', multipart: true do %>
  <%= text_area_tag 'message', '', placeholder: 'Digite sua mensagem...', autofocus: true %>

    <div class="actions">
      <%= check_box_tag 'typing', 'typing', true %>
      <%= label_tag 'typing', 'Mostrar aos administradores o que estou digitando' %>
      <%= file_field_tag 'image' %>
      <button type="submit">Enviar</button>
    </div>
  <% end %>
</div>

<aside role="complementary" class="collection sidebar">
  <div class="video">
    <% unless @event.video_url.blank? %>
    <iframe data-video-id="<%= @event.get_youtube_video_id %>" width="560" height="315" src="https://www.youtube.com/embed/<%= @event.get_youtube_video_id %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
  </div>

  <% if current_user.can_edit_event %>
  <%= form_tag '?', id: 'event_form' do %>

    <%= label_tag 'event_name', 'Nome do evento:' %>
    <%= text_field_tag 'event_name', @event.name %>

    <%= label_tag 'video_url', 'Link do Vídeo:' %>
    <%= text_field_tag 'video_url', @event.video_url %>

    <button type="submit">Salvar</button>
  <% end %>
  <% end %>
</aside>