<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>

  <title><%= @event.name %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %> 
</head>
<body class="section <%= section_label %> is-timeline-opened">

<main role="main" class="layout main">
<%= yield %>
</main>

<%= yield :templates %>

<%= javascript_include_tag 'application' %> 
</body>
</html>
