<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>

  <title>Live Event</title>

  <%= stylesheet_link_tag    'login', media: 'all' %>
  <%= javascript_include_tag 'login' %>  
</head>
<body>

<main role="main" class="layout main">
<%= yield %>
</main>

<%= yield :templates %>
</body>
</html>
